{#
/**
 * @file
 * Default theme implementation to display a carousel.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * - slides: Slides for the carousel.
 *
 * @ingroup templates
 *
 * @see template_preprocess_carousel()
 * @see html.html.twig
 */
#}
<div class="banners__slider" data-slick="{{ id }}">
  {% for banner in banners %}
    <div class="banners__item">
      {% if banner.url %}
        <a href="{{ banner.url }}"{% if 'http://' in banner.url or 'https://' in banner.url %} target="_blank"{% endif %}>
          {{ banner.image }}
        </a>
      {% else %}
        {{ banner.image }}
      {% endif %}
    </div>
  {% endfor %}
</div>